table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

table {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    cursor: url('../img/punch.png'),  pointer;
    
}

tr {
    height: 170px;
}

#img1, #img2, #img3, #img4, #img5{
    width: 150px;
    height: 150px;
}

tr, td, th
 {
    border: none;
}







